.landing-page {
  height: 100%;
  width: 100%;
  background: linear-gradient(#006bb3, white);
  background-size: cover;
  overflow: hidden;
}

.cloud1 {
  margin-left: 1%;
  margin-top: 3%;
  height: auto;
  max-width: 30%;
  position: absolute;
  /* border: 1px solid red; */
}

.cloud2 {
  margin-left: 56%;
  margin-top: 15%;
  height: auto;
  width: 45%;
  transform: scaleX(-1);
  position: absolute;
  /* border: 1px solid blue; */
}

.sun {
  height: auto;
  width: 35%;
  position: absolute;
  border: 1px solid green;
}