header {
  display: flex;
  position: absolute;
  height: 75px;
  width: 100%;
  top: 0px;
  background-color: #0066CC;
}

.title {
  order: 1;
  height: 100%;
  flex-grow: 1;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search {
  order: 2;
  height: 100%;
  flex-grow: 10;
  color: black;
}